@import url('https://fonts.googleapis.com/css2?family=Pixelify+Sans:wght@400;700&display=swap');

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-image: url(C:\Users\fatim\source\repos\mbti-project\Character-Based-Media-Recommendation\my-app\src\ombre_bg.png);
  background-size: cover; /* Makes the image cover the entire area */
  background-position: center; /* Centers the image */
  background-repeat: no-repeat; /* Prevents the image from repeating */
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  font-family: 'Pixelify Sans', sans-serif; /* Use the Google Font */
  
}

.Header-title {
  position: absolute;
  top: 100px; /* Moves it closer to the top of the screen */
  left: 50%; /* Keeps it horizontally centered */
  transform: translateX(-50%); /* Centers the text */
  margin: 0; /* Remove default margins */
  padding: 0; /* Remove default padding */
  font-size: calc(20px + 4vmin);
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
